extends layout

block content
  h1= title
  
  - let items = results
  - console.log(items)

  each item in items
    div.container-fluid
      div.row
        div.col-sm-2 #{item.elephant_name}
        div.col-sm-2 #{item.elephant_population}
        div.col-sm-2 #{item.elephant_avg_weight}
